mixin addNewDataModal()
  #modal-add-obj.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-hidden='true')
    .modal-dialog.modal-dialog-scrollable
      .modal-content
        .modal-header
          - const capitalModelName = modelName.charAt(0).toUpperCase() + modelName.slice(1);
          h1.modal-title.fs-4= `Add New Data ${capitalModelName}`
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          form.row(id=`form-add-${modelName}` novalidate)
            block input-add-data
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
          button.btn.btn-primary(id=`btn-submit-${modelName}` type='submit' form=`form-add-${modelName}`) Submit

mixin updateDataModals(obj)
  .modal.fade(id=`modal-update-obj-${obj.id}` data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-hidden='true')
    .modal-dialog.modal-dialog-scrollable
      .modal-content
        .modal-header
          - const capitalModelName = modelName.charAt(0).toUpperCase() + modelName.slice(1);
          h1.modal-title.fs-4= `Update ${capitalModelName} ${obj.tanggal}`
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          form.row(id=`form-update-${modelName}-${obj.id}` novalidate data-obj-id=obj.id data-user-id=local_user.id)
            block input-update-data
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
          button.btn.btn-info(class=`btn-update-${modelName}` type='submit' form=`form-update-${modelName}-${obj.id}`) Update

mixin delDataModals(objId, objUnique)
  .modal.fade(id=`modal-delete-obj-${objId}` data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h1.modal-title.fs-4 Delete Confirmation
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body= `Are you sure you want to delete ${modelName}: `
          span.fw-bold= objUnique
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
          button.btn.btn-danger(class=`btn-del-${modelName}` type='button' data-obj-id=objId data-user-id=local_user.id) Delete

mixin delAllDataModal()
  #modal-del-all.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h1.modal-title.fs-4 Delete All Data Confirmation
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body= `Are you sure you want to delete all your ${modelName}'s data?`
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
          button.btn.btn-danger(class=`btn-del-all-${modelName}` type='button' data-user-id=local_user.id) Delete All

mixin importDataModal()
  #modal-import-data.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-hidden='true')
    .modal-dialog.modal-dialog-scrollable.modal-lg
      .modal-content
        .modal-header
          - const capitalModelName = modelName.charAt(0).toUpperCase() + modelName.slice(1);
          h1.modal-title.fs-4= `Import Data ${capitalModelName}`
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          form.row(id=`form-import-data-${modelName}` novalidate data-user-id=local_user.id)
            block input-import-data
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
          button.btn.btn-primary(id=`btn-import-data-${modelName}` type='submit' form=`form-import-data-${modelName}`) Import