extends base

block main
  section.section
    .row
      .col-lg-12
        .card
          .card-body
            h5.card-title K-Means Clustering
            form.row(id='form-add-clustering' novalidate)
              .col-12
                input#add-user_id(type='hidden' name='user_id' value=local_user.id)

              .col-md-3.mb-3
                label.form-label(for='jum_cluster') Jumlah Cluster
                input#add-jum_cluster.form-control(type='number' name='jum_kecelakaan' min='2' value=`${(clustering) ? clustering.jum_cluster : ''}` required)
                .invalid-feedback Jumlah cluster minimum 2

              .col-md-3.mb-3
                label.form-label(for='jum_percobaan') Jumlah Percobaan
                input#add-jum_percobaan.form-control(type='number' name='jum_percobaan' min='1' value=`${(clustering) ? clustering.jum_percobaan : '10'}` required)
                .invalid-feedback Jumlah percobaan minimum 1

              - let criteriaArray = [];
              if clustering
                - criteriaArray = JSON.parse(clustering.kriteria_clustering);

              .col-12.mb-3
                legend.col-form-label Pilih Kriteria

                .form-check.form-check-inline
                  if criteriaArray.includes('temperatur_avg')
                    input.form-check-input(type='checkbox' id='criteria-1' value='temperatur_avg' checked)
                  else
                    input.form-check-input(type='checkbox' id='criteria-1' value='temperatur_avg')
                  label.form-check-label(for='criteria-1') Temperatur Avg

                .form-check.form-check-inline
                  if criteriaArray.includes('kelembaban_avg')
                    input.form-check-input(type='checkbox' id='criteria-2' value='kelembaban_avg' checked)
                  else
                    input.form-check-input(type='checkbox' id='criteria-2' value='kelembaban_avg')
                  label.form-check-label(for='criteria-2') Kelembaban Avg

                .form-check.form-check-inline
                  if criteriaArray.includes('kecepatan_angin_avg')
                    input.form-check-input(type='checkbox' id='criteria-3' value='kecepatan_angin_avg' checked)
                  else
                    input.form-check-input(type='checkbox' id='criteria-3' value='kecepatan_angin_avg')
                  label.form-check-label(for='criteria-3') Kecepatan Angin Avg

                .form-check.form-check-inline
                  if criteriaArray.includes('jum_curah_hujan')
                    input.form-check-input(type='checkbox' id='criteria-4' value='jum_curah_hujan' checked)
                  else
                    input.form-check-input(type='checkbox' id='criteria-4' value='jum_curah_hujan')
                  label.form-check-label(for='criteria-4') Jum Curah Hujan

                .form-check.form-check-inline
                  if criteriaArray.includes('jum_hari_hujan')
                    input.form-check-input(type='checkbox' id='criteria-5' value='jum_hari_hujan' checked)
                  else
                    input.form-check-input(type='checkbox' id='criteria-5' value='jum_hari_hujan')
                  label.form-check-label(for='criteria-5') Jum Hari Hujan

                .form-check.form-check-inline
                  if criteriaArray.includes('penyinaran_matahari_avg')
                    input.form-check-input(type='checkbox' id='criteria-6' value='penyinaran_matahari_avg' checked)
                  else
                    input.form-check-input(type='checkbox' id='criteria-6' value='penyinaran_matahari_avg')
                  label.form-check-label(for='criteria-6') Penyinaran Matahari Avg

              .col-12.mb-3
                button.btn.btn-primary(type='submit') Clustering

    if clustering_result.length > 0
      .row
        .col-lg-12
          .card
            .card-body
              h5.card-title Clustering Result
              .mb-2.d-flex.justify-content-end
                button.btn.btn-sm.btn-danger.me-2(type='button' data-bs-toggle='modal' data-bs-target='#modal-del-all-clustering-result')
                  i.bi.bi-archive.me-1
                  |  Delete Clustering Result
              .table-responsive
                table.table.table-hover.datatable(id='clustering-result-table')
                  thead
                    tr
                      th.text-center tanggal
                      th.text-center cluster
                      each criteria in criteriaArray
                        th.text-center= criteria
                  tbody
                    each obj in clustering_result
                      tr
                        td.text-end= obj.cuaca.tanggal
                        td.text-end= obj.cluster
                        each criteria in criteriaArray
                          td.text-end= obj.cuaca[criteria]
              // End Table with stripped rows

      //- Delete Clustering Result Modal
      #modal-del-all-clustering-result.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header
              h1.modal-title.fs-4 Delete All Data Confirmation
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body= 'Are you sure you want to delete all your clustering result data?'
            .modal-footer
              button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
              button.btn.btn-danger(class='btn-del-all-clustering-result' type='button' data-user-id=local_user.id) Delete All

      .row
        .col-lg-6
          .card
            .card-body
              h5.card-title Performance
              .table-responsive
                table.table.table-borderless
                  tbody
                    -
                      const awcd_clusters = JSON.parse(clustering.awcd_clusters);
                      const clusters_name = Object.keys(awcd_clusters);
                    tr
                      td Avg. within centroid distance
                      td :
                      td= clustering.awcd.toFixed(2)
                    each cn in clusters_name
                      tr
                        td= `Avg. within centroid distance ${cn}`
                        td :
                        td= awcd_clusters[cn].toFixed(2)

        .col-lg-6
          .card
            .card-body
              h5.card-title Cluster Model
              - const clustersArr = clustering_result.map((el) => el.cluster);
              canvas#chart-cluster-model(style='max-height: 300px;' data-clusters-arr=`${JSON.stringify(clustersArr)}`)
              h6.mt-2.text-center= `Total: ${clustering_result.length}`

      .row
        .col-lg-12
          .card
            .card-body
              h5.card-title Centroids Plot
              canvas#chart-centroids(style='max-height: 400px;' data-centroids=clustering.centroids data-criteria=clustering.kriteria_clustering)
    //- End if clustering_result
