extends base

include _kecelakaan-modals

block main
  section.section
    .row
      .col-lg-12
        .card
          .card-body
            .mt-3.mb-2.d-flex.justify-content-end
              button.btn.btn-sm.btn-secondary.me-2(type='button' data-bs-toggle='modal' data-bs-target=`#modal-add-obj`)
                i.bi.bi-plus-lg.me-1
                |  Tambah Data
              button.btn.btn-sm.btn-secondary.me-2(type='button')
                i.bi.bi-upload.me-1
                |  Import Data

            // Table with stripped rows
            .table-responsive
              table.table.table-hover.datatable#kecelakaan-table
                thead
                  tr
                    th Tanggal
                    th Jum Kecelakaan
                    th CreatedAt
                    th UpdatedAt
                    th
                tbody
                  each kecelakaanObj in kecelakaan
                    tr
                      td= kecelakaanObj.tanggal
                      td= kecelakaanObj.jum_kecelakaan
                      td= kecelakaanObj.createdAt
                      td= kecelakaanObj.updatedAt
                      td
                        button.btn.btn-sm.btn-success.me-1.mb-1(type='button' data-bs-toggle='modal' data-bs-target=`#modal-update-obj-${kecelakaanObj.id}`)
                          i.bi.bi-pencil-square
                        button.btn.btn-sm.btn-danger.btn--trash-user(type='button' data-bs-toggle='modal' data-bs-target=`#modal-delete-obj-${kecelakaanObj.id}`)
                          i.bi.bi-trash
            // End Table with stripped rows

  // Add Kecelakaan Modal
  +addDatasetModal('kecelakaan')

  //- each userObj in users
  //-   // Update User Modals
  //-   +updateUserModal(userObj)

  //-   // Delete User Modals
  //-   +delModal(userObj.id, 'user', userObj.email)