extends base

include _kecelakaan-modals

block main
  section.section
    .row
      .col-lg-12
        .card
          .card-body
            .mt-3.mb-2.d-flex.justify-content-end
              button.btn.btn-sm.btn-secondary.me-2(type='button' data-bs-toggle='modal' data-bs-target=`#modal-add-obj`)
                i.bi.bi-plus-lg.me-1
                |  Tambah Data
              button.btn.btn-sm.btn-secondary.me-2(type='button')
                i.bi.bi-upload.me-1
                |  Import Data

            // Table with stripped rows
            .table-responsive
              table.table.table-hover.datatable(id=`${modelName}-table`)
                thead
                  tr
                    th Tanggal
                    th Jum Kecelakaan
                    th
                tbody
                  each obj in kecelakaan
                    tr
                      td= obj.tanggal
                      td= obj.jum_kecelakaan
                      td
                        button.btn.btn-sm.btn-success.me-1.mb-1(type='button' data-bs-toggle='modal' data-bs-target=`#modal-update-obj-${obj.id}`)
                          i.bi.bi-pencil-square
                        button.btn.btn-sm.btn-danger.btn--trash-user(type='button' data-bs-toggle='modal' data-bs-target=`#modal-delete-obj-${obj.id}`)
                          i.bi.bi-trash
            // End Table with stripped rows

  // Add Data Modal
  +addDataModal()

  each obj, index in kecelakaan
    // Update Data Modals
    +updateDataModal(obj)

    // Delete User Modals
    +delDataModal(obj.id, obj.tanggal, index)