extends base

block main
  section.section
    .row
      .col-lg-12
        .card
          .card-body
            .mt-3.mb-2.d-flex.justify-content-end
              button.btn.btn-sm.btn-secondary.me-2(type='button')
                i.bi.bi-plus-lg.me-1
                |  Tambah Data
              button.btn.btn-sm.btn-secondary.me-2(type='button')
                i.bi.bi-upload.me-1
                |  Import Data

            // Table with stripped rows
            table.table.table-hover.datatable#user-table
              thead
                tr
                  th Id
                  th E-Mail
                  th Fullname
                  th CreatedAt
                  th UpdatedAt
                  th
                  //- th(data-type='date' data-format='YYYY/DD/MM') Start Date
              tbody
                each user in users
                  tr
                    td= user.id
                    td= user.email
                    td= user.fullname
                    td= user.createdAt
                    td= user.updatedAt
                    td
                      button.btn.btn-sm.btn-success.me-1.mb-1
                        i.bi.bi-pencil-square
                      button.btn.btn-sm.btn-danger
                        i.bi.bi-trash
            // End Table with stripped rows
