extends base

mixin delModal(userObj)
  .modal.fade(id=`staticBackdrop-${userObj.id}` data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h1.modal-title.fs-4 Delete Confirmation
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body= 'Are you sure you want to delete user: '
          span.fw-bold= userObj.email
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
          button.btn.btn-danger.btn--del-user(type='button' data-user-id=userObj.id) Delete

block main
  section.section
    .row
      .col-lg-12
        .card
          .card-body
            .mt-3.mb-2.d-flex.justify-content-end
              button.btn.btn-sm.btn-secondary.me-2(type='button')
                i.bi.bi-plus-lg.me-1
                |  Tambah Data
              button.btn.btn-sm.btn-secondary.me-2(type='button')
                i.bi.bi-upload.me-1
                |  Import Data

            // Table with stripped rows
            table.table.table-hover.datatable#user-table
              thead
                tr
                  th Id
                  th E-Mail
                  th Fullname
                  th CreatedAt
                  th UpdatedAt
                  th
              tbody
                each userObj in users
                  tr
                    td= userObj.id
                    td= userObj.email
                    td= userObj.fullname
                    td= userObj.createdAt
                    td= userObj.updatedAt
                    td
                      button.btn.btn-sm.btn-success.me-1.mb-1
                        i.bi.bi-pencil-square
                      button.btn.btn-sm.btn-danger.btn--trash-user(type='button' data-bs-toggle='modal' data-bs-target=`#staticBackdrop-${userObj.id}`)
                        i.bi.bi-trash
            // End Table with stripped rows
  // Delete Modals
  each userObj in users
    +delModal(userObj)
